> *Presence:* `{{PresenceName}}`
> *Contact Name:* `{% if NameFirst %}{{NameFirst}}{% endif %}{%
if NameMiddle %} {{NameMiddle}}{% endif %}{%
if NameLast %} {{NameLast}}{% endif %}`
{% if Organization %}> *Organization:* {{Organization}}{% endif %}
{% if EmailAddress %}> *Email Address:* <mailto:{{EmailAddress}}>{% endif %}
{% if PhoneNumber %}> *Phone Number:* {{PhoneNumber}}{% endif %}