:inbox_tray: *New `Bid Request`*
{% include "slack/shared/contact_information.jinja" %}{%
include "slack/shared/type.jinja" %}{%
include "slack/shared/location_address.jinja" %}{%
include "slack/shared/comments.jinja" %}
