:inbox_tray: *New `Goal`*
{% include "slack/shared/contact_information.jinja" %}
{% include "slack/shared/title.jinja" %}
{% include "slack/shared/description.jinja" %}
{% include "slack/shared/comments.jinja" %}