:inbox_tray: *New `Bid Request`*
{% include "slack/contact_information.jinja" %}
{% if Type %}> *Type:* {{Type}}{% endif %}{%
if LocationAddress %}
_Location Address_:
```
{{LocationAddress}}
```
{% endif %}{% if Comments %}
_Comments_:
```
{{Comments}}
```
{% endif %}
