:inbox_tray: *New `Consultation Request`*
{% include "slack/contact_information.jinja" %}{%
if IdealDate %} > *Ideal Date:* {{IdealDate}}{% endif %}
{% if IdealTime %} > *Ideal Time:* {{IdealTime}}{% endif %}
{% if Type %} > *Type:* {{Type}}{% endif %}{%
if ProjectTitle %}
_Project Title_:
```
{{ProjectTitle}}
```{% endif %}{% if Comments %}
_Comments_:
```
{{Comments}}
```
{% endif %}
