A commitment to make a contribution came in:<br/><br/>
{% include "sendgrid/shared/contact_information.jinja" %}
{% if ContributionAmount %} <b>Contribution Amount:</b> ${{ContributionAmount}}<br>{% endif %}
{% include "sendgrid/shared/comments.jinja" %}
