A commitment to make a pledge came in:<br/><br/>
{% include "sendgrid/shared/contact_information.jinja" %}
{% if PledgeAmount %} <b>Pledge Amount:</b> ${{PledgeAmount}}<br>{% endif %}
{% include "sendgrid/shared/comments.jinja" %}
